# Set device to a wifi companion (if not not set, the image defaults to /dev/ttyACM0)
DEVICE=192.168.10.74:5000
# Override timeout to 30 mins from the default 60 mins (if no adverts have been received within this time, the container will report unhealthy and restart automatically)
ADVERT_TIMEOUT_MS=1800000
